<ion-header>
  <ion-toolbar color="secondary">
    <ul>
      <li>
        <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
      </li>
      <li>
        <span>Detalhes Produto</span>
      </li>
      <li>
        <img src="../../assets/img/carrinho.jpg" routerLink="/carrinho" alt="Ver Carrinho">
      </li>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="bloco1">
        <ion-slides pager="true">
          <ion-slide>
            <div class="slide">
              <img [src]="product.picture1">
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide">
              <img [src]="product.picture2">
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide">
              <img [src]="product.picture3">
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide">
              <img [src]="product.picture4">
            </div>
          </ion-slide>
        </ion-slides>

        <div class="name"> {{product.name}} </div>
    </div>
    <div class="bloco2">
      <div class="preco">
        <span>{{ product.price | currency: 'BRL' }} <span class="vista">à vista </span><span class="desconto">(5% de
            desconto)</span></span>
      </div>

      <div class="frete">
        <ion-icon name="location"></ion-icon><span>Calcular Frete e Prazo</span>
      </div>

      <div class="botao">
        <button>Comprar</button>
      </div>
      <div class="botao1">
        <button (click)="addCarrinho()">Adicionar ao carrinho  </button>
      </div>
    </div>
      
    <div class="bloco3">
      <div class="idade">
        <span class="idade-text">Idade indicativa:</span><span class="red">+{{product.indicativeAge}}</span>
      </div>
      <div class="descricao">
        <span>Mais Detalhes</span>
        <div class="texto-desc">
          {{product.description}}
        </div>
      </div>
    </div>
  </div>

</ion-content>