<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>MyHeal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">
          <ion-icon name="Home" slot="start"></ion-icon>
          Home
        </ion-item>
        <ion-item routerLink="/categorias">
          <ion-icon name="Apps" slot="start"></ion-icon>
          Categorias
        </ion-item>
        <ion-item routerLink="/login">
          <ion-icon name="log-in" slot="start"></ion-icon>
          Login
        </ion-item>
        <ion-item routerLink="/registro">
          <ion-icon name="log-in" slot="start"></ion-icon>
          Registrar-se
        </ion-item>
      </ion-list>

      <div class="adm" routerLink="/listagem">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <span>Área Administrativa</span>
      </div>
      <div class="sair" (click)="logout()">
        <ion-icon name="log-in" slot="start"></ion-icon>
        <span>Sair</span>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
