ion-item{
    padding: 10px;
}

.adm{
    background-color: var(--ion-color-primary);

    padding: 10px 5px;

    display: flex;
    align-items: center;

    max-width: 250px;
    margin: 0 auto;

    border-radius: 2px;

    outline: none;

}

.adm ion-icon{
    color: white;
    font-size: 25px;
}

.adm span{
    font-size: 16px;

    color: white;
    margin-left: 15px;
}

.sair{
    background-color: var(--ion-color-danger);

    padding: 10px 5px;

    display: flex;
    align-items: center;

    max-width: 250px;
    margin: 10px auto;

    border-radius: 2px;

    outline: none;

}

.sair ion-icon{
    color: white;
    font-size: 25px;
}

.sair span{
    font-size: 16px;

    color: white;
    margin-left: 15px;
}