<ion-header>
  <ion-toolbar color="secondary">
    <ul>
      <li>
        <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
      </li>
      <li>
        <span>Categorias</span>
      </li>
      <li>
        <img src="../../assets/img/carrinho.jpg" routerLink="/carrinho" alt="Ver Carrinho">
      </li>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="bloco" *ngFor="let categoria of listaCategoria" >
      <div class="imagem" style="background-color: {{categoria.cor}};">
        <ion-icon name={{categoria.icone}}></ion-icon>
      </div>
      <span>{{categoria.nome}}</span>
    </div>
  </div>
</ion-content>
