*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
}

ion-header ion-toolbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 95%;
  margin: 0 auto;
}

ion-header ion-toolbar ul li{
  list-style: none;
}

ion-header ion-toolbar ul li ion-icon{
  outline: none;
}

ion-header ion-toolbar ul li span{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  
  letter-spacing: 1px;
}

ion-header ion-toolbar ul li img{
  width: 25px;  
}

ion-icon {
  font-size: 28px;
}

.body{
  height: 100%;
  width: 100%;
  background-color: white;
}

.bloco{
  border: 1px solid rgb(168, 168, 168);
  height: 100px;

  display: flex;
}

.bloco .imagem{
  width: 20%;
  /*Cores
  1.rgb(53, 53, 250);
  2.rgb(53, 171, 250);
  3.rgb(53, 250, 207);
  4.rgb(53, 250, 119);
  5.rgb(115, 250, 53);
  6.rgb(220, 250, 53);
  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloco .imagem ion-icon{
  font-size: 2.4rem;
  color: white;
}

.bloco span{
  align-self: center;

  margin-left: 15px;

  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}